@using MillePortfolio.Models
@model GitProject

<div class="project card shadow">
    <div class="card-header">
        <h3>@Model.ProjectName</h3>
    </div>
    <div class="card-body project-body">
        <p>Skapad: @Model.Date</p>
        @foreach (var tech in Model.Technologies)
        {
            <img src="@tech.TechIconUrl" alt="@tech.Technology logo" class="tech-icon mb-2" />
        }
        <p>@Model.Description</p>
        <div class="button-container d-flex justify-content-between mt-auto">
            <a href="@Model.GithubUrl" target="_blank" class="btn btn-info"><i class="fa-brands fa-github" style="font-size: 2rem; width: 140px;"></i></a>
            <a href="@Model.LiveDemoUrl" target="_blank" class="btn btn-info"><i class="fa-solid fa-eye" style="font-size: 2rem; width: 140px;"></i></a>
        </div>
    </div>
</div>
