@using MillePortfolio.Models
@model GitProject

<div class="project">
    <h3>@Model.ProjectName</h3>
    @foreach (var tech in Model.Technology)
    {
        <img src="@tech.TechIconUrl" alt="@tech.Technology logo" class="tech-icon" />
    }
    <p>Created: @Model.Date</p>
    <p>@Model.Description</p>
</div>
