@using MillePortfolio.Models
@model GitProject

<div class="project-container">
    <div class="project card shadow">
        <div class="card-header">
            <h3>@Model.ProjectName</h3>
        </div>
        <div class="card-body project-body d-flex flex-column">
            <img src="@Model.ProjectImg" class="project-img" />
            <p class="mt-2">Skapad: @Model.Date.ToString("yyyy-MM")</p>
            <div class="d-flex flex-wrap justify-content-center">
                @foreach (var tech in Model.Technologies)
                {
                    <img src="@tech.TechIconUrl" alt="@tech.Technology logo" class="tech-icon mb-2 mx-3" />
                }
            </div>
            <p class="text-collapsed description">@Model.Description</p>
            <button onclick="toggleText(this)" class="btn btn-show-more toggleButton btn-custom-width mx-auto" style="margin-bottom: 20px;"><i class="fa-solid fa-arrow-down"></i></button>
            <div class="button-container d-flex justify-content-between mt-auto">
                <a href="@Model.GithubUrl" target="_blank" class="btn btn-secondary d-flex align-items-center justify-content-center btn-fixed-width">
                    <i class="fa-brands fa-github" style="font-size: 2rem; margin-right: 5px;"></i>
                    <span>GitHub</span>
                </a>
                @if (!string.IsNullOrEmpty(Model.LiveDemoUrl))
                {
                    <a href="@Model.LiveDemoUrl" target="_blank" class="btn btn-secondary d-flex align-items-center justify-content-center btn-fixed-width">
                        <i class="fa-solid fa-eye" style="font-size: 2rem; margin-right: 5px;"></i>
                        <span>Live Demo</span>
                    </a>
                }
            </div>

        </div>
    </div>
</div>



<script>
    function toggleText(button) {
        var text = button.previousElementSibling;
        if (text.classList.contains("text-collapsed")) {
            text.classList.remove("text-collapsed");
            button.innerHTML = '<i class="fa-solid fa-arrow-up"></i>';
        } else {
            text.classList.add("text-collapsed");
            button.innerHTML = '<i class="fa-solid fa-arrow-down"></i>';
        }
    }

</script>
